
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Index</h1>
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>baslik</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sql</td>
    </tr>
</table>

