@using EntityLayer.Concrete
@model List<Experience>
@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<div class="col-md-6">
	<div class="p-2">
		<button type="button" class="btn btn-outline-primary" id="btngetlistall">Verileri Getir</button>
		<button type="button" class="btn btn-outline-info" id="btnadd">Kaydet</button>
	</div>
</div>
<h4 class="text-center">Deneyim Listesi</h4>
<div class="p-2" id="listexperience">
</div>
<br />
<div class="col-md-12">
	<input type="text" class="form-control" id="txtname" placeholder="ad" />
	<br />
	<input type="text" class="form-control" id="txtdate" placeholder="tarih" />

</div>
@section Scripts
	{
	<script>
		$("#btngetlistall").click(function() {
			$.ajax({
				contentType: "application/json",
				datatype: "json",
				type: "Get",
				url: "/ExperienceAjax/ListExperience/",

				success: function(funk) {
					let values = jQuery.parseJSON(funk);
					console.log(values);

					let htmlst = "<table class=table table-bordered><tr><th>ID</th><th>Başlık</th><th>Tarih</th></tr>";
					$.each(values, (index, value) => {
						htmlst += `<tr><td>${value.ExperienceId}</td> <td>${value.Name}</td><td>${value.Date}</td></tr>`
					});
					htmlst += "</table>";
					$("#listexperience").html(htmlst);
				}
			});
		});

		$("#btnadd").click(function() {
			let values = {
				Name: $("#txtname").val(),
				Date: $("#txtdate").val()
			};

			$.ajax({
				type: "Post",
				url: "/ExperienceAjax/AddExperience/",
				data: values,
				success: function(funk1) {
					let result = jQuery.parseJSON(funk1);
					alert("Başarılı bir şekilde eklendi");
				}
			});
		});
	</script>
}
	<script src="~/lib/jquery/dist/jquery.js"></script>


